

body {
    border: solid 3px black;
    background-color: black;
}

header {
    border: solid 3px black;
    background-color: white;
    text-align:center;
    font-size:30px;
    border-radius: 25px;
    width: 1000px;
    margin:auto;
    font-family:cursive;
    height:250px;

}

footer {
    border: solid 3px black;
    background-color: black;
    text-align: center;
}
a{ color:white;}

main {
    border: solid 3px black;
    background-color: beige;
    border-radius: 25px;
    font-family: Lucida Console;
    width: 1000px;
    margin-left: 440px;
    margin-top:25px
}

main h1 {
    font-size: 65px;
    text-align: center;
    padding: 50px;
    font-family:cursive;
}

aside {
    border: solid 2px;
    background-color: floralwhite;
    float:right;
    padding-right: 190px;
}
